body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color:#555;
    background: #eee;
}

#main-data{
    display: table;
    padding: 10px;

}

.row{
    display: table-row;
}

.column{
    display: table-cell;
    padding:10px;
    border-bottom: 1px solid #ccc;

}

.search-box{
    width: calc(100% - 20px);
    text-align: right;
    padding:10px;
}

.search-label{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
}

.search-term{
    width: 100%;
    text-align: center;
    padding:20px 0;
    font-size: 20px;
}